@font-face {
    font-family: 'Silvia Font';
    src: url('~assets/fonts/FONTSILVIA.otf') format('opentype');
  }

@font-face {
    font-family: 'Silvia Font';    
    font-weight: bold;
    src: url('~assets/fonts/FONTSILVIABOLD.otf') format('opentype');
  }

.about {
    background-color: #F44336 !important;    
}

.contact {
    background-color: #2196F3 !important;    
}

.navigation-item-active .navigation-item-title{
    color: white;
}