@font-face {
  font-family: 'Gilroy';
  src: url('~assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Silvia Font';
    src: url('~assets/fonts/FONTSILVIA.otf') format('opentype');
  }

@font-face {
    font-family: 'Silvia Font';    
    font-weight: bold;
    src: url('~assets/fonts/FONTSILVIABOLD.otf') format('opentype');
  }

.text-h1 {
  font-family: 'Gilroy' !important;
}  

.body {
  font-size: 24px;
}

.index{
  background-color: #ffebe5 !important;
}  

.about {
    background-color: $about-color !important;    
}

.contact {
    background-color: $contact-color !important;    
}

.navigation-item-active .navigation-item-title{
    color: white;
}